body{
    font-family: Arial, sans-serif;
}
.hero{
    background-image: url(imagens/topo.jpg);
    height: 1000px;
    background-position:  center;
    background-size: cover;
    border-top: 1px solid transparent;
}
.hero nav{
    background-image: url(imagens/logo.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-color: rgba(29, 28, 36, 0.692);
}
.hero nav ul{
    padding: 15px 0px 15px 0px;
    margin: 0px 25px 0 0;
    text-align: right;
}
.hero nav li{
    display: inline-block;
    list-style: none;
    margin-left: 5px;
}
.hero nav a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}
.hero nav a:hover{
    color:rgba(94, 91, 91, 0.918);
}
article{
    text-align: center;
}
article h1{
    color: black;
}
article p{
    color: rgb(73, 73, 73);
}